<div class="container-fluid">
    <div class="row">
        <div class="col-12 menu">
            <a routerLink="">Home <i class="bi bi-house-fill"></i></a>
            <a routerLink="about">About <i class="bi bi-person-fill"></i></a>
            <a routerLink="contact">Contact <i class="bi bi-telephone-fill"></i></a>
        </div>
    </div>
</div>