<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>About</h1>
            <mat-tab-group>
                <mat-tab label="Education">
                    <p class="p-4">Hii, I am Romy this is my personal profile page.</p>
                </mat-tab>
                <mat-tab label="Work">
                    <p class="p-4">Currently Coding to Live Life</p>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
