<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Contact</h1>
            <p>Mobile<br/><button mat-raised-button color="primary">+919576067762</button><button mat-raised-button color="primary">+918210614418</button></p>
            <p>Email<br/><button mat-raised-button color="primary">romyhussain1996@gmail.com</button></p>
        </div>
    </div>
</div>
